<h1> Hello</h1>
<p>
  The time is now:
  <h2><%= Time.now %></h2>
</p>

<p>
  My Name is:
  <%= @request.query['first_name'] %>
  <%= @request.query['last_name'] %>
</p>

<p>
  <form method='post' action="<%= @request.path %>">
      <p>First name:<br> <input type="text" name="first_name" placeholder='first name'/></p>
      <p>Last name:<br> <input type="text" name="last_name" placeholder='last name'/><p/>
      <p><input type="radio" name="gender" value="M" checked>M<br>
        <input type="radio" name="gender" value="F">F</p>
      <p><input type="submit" value="Submit" /></p>
  </form>
  <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
    Hello handsome <%= @request.query['first_name'] %>
  <% else %>
    Enter thy name
  <% end %>
